// Font variables

$foundation_regular: "FoundationSansRegular", Helvetica, Arial, sans-serif;
$foundation_italic: "FoundationSansItalic", Helvetica, Arial, sans-serif;
$foundation_bold: "FoundationSansBold", Helvetica, Arial, sans-serif;
$foundation_bold_italic: "FoundationSansBoldItalic", Helvetica, Arial, sans-serif;
$foundation_condensed: "FoundationSansCondensed", Helvetica, Arial, sans-serif;