// Color variables

$gt_gold: #EEB211;
$gt_navy: #00254C;
$gt_navy_light: lighten(#00254C, 60%);
$gt_search_gray: #A9AAAE;
$gt_action_gray: #E6E6E6;
$gt_bread_blue: #023D7B;
$gt_bread_blue_light: lighten(#023D7B, 60%);
$gt_body_black: #454545;
$gt_footer_gray: #646464; 
